<%- include('partials/header') %>

<form action="/" method="post">
    <label for="CityName">Enter city name:</label>
    <input type="text" name="cityName" id="CityName">
    <button type="submit">Go</button>
</form>

<%- include('partials/footer') %>
