* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(rgb(190, 2, 190), rgb(0, 140, 255), rgb(0, 180, 255));
}

.container, form, .data {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    color: white;
}

form, .data {
    height: 50%;
    width: 50%;
    margin-top: 50px;
    padding: 10px;
    background-color: rgba(255, 160, 190, 0.4);
    border: 1px solid white;
    font-size: 1.5rem;
}

.data > p{
    font-size: 1rem;
    margin: 5px;
}

form > * {
    margin: 20px;
}

input {
    padding: 5px;
    width: 50%;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    width: 30%;
    background-color: rgb(0, 50, 255);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 100, 255);
}

@media (max-width: 425px) {
    form, .data {
        height: 50%;
        width: 90%;
        font-size: 1rem;
    }
}
